<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.watched" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".android.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:backupAgent=".android.service.BaseBackupAgent">

        <activity
            android:name=".android.HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".android.SearchActivity" />
        </activity>
        <activity
            android:name=".android.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".android.HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.HomeActivity" />
        </activity>
        <activity
            android:name=".android.TvActivity"
            android:label="@string/title_activity_tv"
            android:parentActivityName=".android.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.watched.android.HomeActivity" />
        </activity>
        <activity
            android:name=".android.MovieActivity"
            android:label="@string/title_activity_movie"
            android:parentActivityName=".android.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.watched.android.HomeActivity" />
        </activity>

        <meta-data android:name="com.google.android.backup.api_key"
                   android:value="AEdPqrEAAAAI7Vwn_VYa49k4b-DDuNH8VqCL1HH8YbfBciDddw" />

    </application>
</manifest>
